.ArrowUp {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 10;
    color: #e4ddd6;
    border: none;
    border-radius: 5px;
    caret-color: transparent;
    box-shadow: 0 4px 15px rgb(232, 143, 143);
}